@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


html{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

h1{
    margin: 0px;
}

body, ul{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.pageTitle{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 900;
}


#menu a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#menu a:hover{
  color: rgb(194, 114, 24);
}

#header{
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
}

#menu{
    display: flex;
    list-style: none;
}

#menu a {
    display: block;
    padding: .5rem;
}

#btn-mobile{
    color: white;
    display: none;
}


#menu.active{
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
    background-color: #000000;
}



.information{
 display: flex;
}

.informationDecoration{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 500px;
    background-image: url(../icon/background-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.informationContainer01{
    width: 450px;
    padding-top: 60px;
    color: white;
}

.informationTitle{
    font-size: 45px;
    font-weight: 900;
}

.informationText{
    font-size: 18px;
}

.informationContainer02{
    width: 50%;
    height: 500px;
    background-image: url(../img/horoscopooracaocasaisreconciliargetty.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



.formulario01{
    display: flex;
    justify-content: center;
    color: white;
    position: relative;
    bottom: 60px;
}

.formulario01Conten{
    display: flex;
    width: 1000px;
    align-items: center;
    padding: 50px;
    background-color: black;
}

.formularioTitle{
    display: flex;
    width: 500px;
    justify-content: center;
}

.formularioTitle h2{
    width: 300px;
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 28px;
}

.formulario01Form{
    width: 560px;
}

.formulario01Style{
    background-color: #ffffff;
    color: #000000;
    border: none;
    outline: 0;
    font-size: 18px;
    padding: 15px;
    margin: 5px;
    border-radius: 12px;
    width: 250px;
    box-sizing: border-box;
}

.formulario02Email{
    width: 515px;
}

.formulario01Button{
    width: 515px;
    color: white;
    background-color: rgb(247, 145, 29);
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin: 5px;
}

.formulario01Button:hover{
    background-color: rgb(194, 114, 24);
}



.procurar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px
}

.procurarCarousel{
    display: flex;
    justify-content: center;
    width: 100%;
}


.procurarContent{
    width: 1150px;
}

.procurarContentDiv{
    width: 250px;
    height: 220px;
    margin: 15px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0px 0px 10px #666;
}

.procurarContentDiv:hover{
    box-shadow: 0px 0px 20px #666;
}

.procurarContentDiv h3{
    font-weight: 900;
}


.procurarDivButton{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}












.kkk{
    box-sizing: border-box;
    padding: 5px;
    margin-top: 10px;

    border: 2px ridge rgba(250, 250, 250, .6);
    background-color: #222222;
}






.bannerTratamento{
margin-top: 100px;
color: white;
}

.bannerTratamentoContainer{
    display: grid;
    grid-template: auto / 1fr 1.2fr 1fr;
    background-color: antiquewhite;
}

.bannerTratamentoContent{
    height: 500px;
}

.bannerTratamentoContent h2{
    font-size: 30px;
    font-weight:900;
}

.bannerTratamentoContent.child01{
    background-image: url(../img/Copy\ of\ Pente\ de\ alta\ frequencia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bannerTratamentoContent.child02{
    height: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(44, 44, 44);
}

.child02 h2{
    padding: 0px;
    margin: 0px;
}

.bannerTratamentoContentButton{
    display: inline-block;
    background-color: rgb(247, 145, 29);
    color: white;
    margin-top: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
}

.bannerTratamentoContentButton:hover{
    background-color: rgb(194, 114, 24);
}

.bannerTratamentoContent.child03{
    background-image: url(../img/Copy\ of\ Ozonioterapia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.carousel, .carousel03{
    width: 1010px;
    margin: 0 auto;
}

.carouselDivImg{
    display: flex;
    justify-content: center;
}

.carouselContente{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: 450px;
    padding: 20px;
    margin: 15px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px #666;
    color: #000000;
}

.carouselContente:hover{
    box-shadow: 0px 0px 20px #666;
}

.carouselButton{
    display: inline-block;
    color: white;
    background-color: black;
    margin-top: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
}

.carouselButton:hover{
    background-color: rgb(247, 145, 29);
}


/* DEPOIMENTOS */

.divTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 30px;
}

.divTitleP01{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

.divTitleP02{
    margin: 0px;
    padding: 0px;
}



.comparison{
    display: flex;
    justify-content: center;
}

.comparisonCarousel{
    width: 92%;
}

.comparisonContentDiv{
    width: 50%;
    height: 430px;
    box-sizing: border-box;
}

.comparisonContent{
    width: 99%;
    height: 430px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    position: relative;
    top: -7px ;
}

.comparisonBackground01{
    background-image: url(../img/RGJ31.png);
}

.comparisonBackground02{
    background-image: url(../img/ARP39.png);
}

.comparisonBackground03{
    background-image: url(../img/DEG42.png);
}

.comparisonBackground04{
    background-image: url(../img/ASV35.png);
}

.comparisonText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 421px;
    background-color: transparent;
    color: transparent;
}

.comparisonText:hover{
    background-color: rgba(41, 41, 41, 0.6);
    color: white;
}

.comparisonText p{
    padding: 0px;
    margin: 0px;
}



.comments{
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url(../icon/Depoimentos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 70px;
    padding-bottom: 70px;
}

.commentsConteiner{
    width: 60%;
    padding: 20px;
}

.commentsContent{
    display: flex;
    text-align: center;
}

.commentsContentImg{
    display: flex;
    justify-content: center;
}



/* carousel03 */
.clinico{
    display: flex;
    flex-direction: column;
    width: 270px;
    align-items: center;
    margin: 15px;
}

.clinicoContente{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 420px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    bottom: 140px;
    left: 25px;
    background-color: white;
    box-shadow: 0px 0px 10px #666;
}

.clinicoContente:hover{
    box-shadow: 0px 0px 20px #666;
}

.clinicoContente h3{
    font-weight: 900;
    margin-bottom: 3px;
}

.cmr{
    padding: 0px;
    margin: 0px;
    font-size: 15px;
}



.unidades{
    display: flex;
}

.unidadesImg{
    width: 50%;
    background-image: url(../img/Copy\ of\ Nossa\ clinica01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.unidadesContent{
    width: 50%;
    color: white;
    background-color: rgb(44, 44, 44);
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 50px;
}

.unidadesContent h3{
    font-size: 19px;
    font-weight:900;
    margin: 0px;
    padding: 0px;
}

.unidadesContent p {
    font-size: 15px;
    margin: 0px;
    margin-bottom: 40px;
    margin-top: 7px;
}



.formulario02{
    padding-top: 100px;
    padding-bottom: 50px;
}

.formulario02Img{
    position: absolute;
    right: 60%;
}

.formulario02Contente01{
    display: flex;
    width: 100%;
    height: 200px;
}

.formulario02Contente01Div01{
    width: 50%;
}

.formulario02Contente01Div02{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50%;
    height: 200px;
}

.formulario02Contente01Div02 h2{
    width: 80%;
}

.formulario02Contente02{
    display: flex;
    width: 100%;
    height: 200px;
    background-color: rgb(221, 220, 220);
}

.formulario02Contente02Div01{
    width: 50%;
    height: 200px;
    background-color: rgb(221, 220, 220);
}

.formulario02Contente02Div02{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50%;
    height: 200px;
}






    /* BLOG */



footer{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    background-color: rgb(44, 44, 44);
    padding: 50px;
    box-sizing: border-box;
}



/* Scrollbar */
::-webkit-scrollbar{
    width: 6px;
    background-color: black;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(194, 114, 24);
    height: 90px;
    border-radius: 15px;
}

@media screen and (max-width: 1200px){

    .formulario01Conten{
        width: 700px;
        padding: 30px;
    }

    .formularioTitle{
        width: 250px;
    }

    .formularioTitle h2{
        width: 230px;
        font-size: 20px;
    }

    .formulario01Form{
        width: 450px;
    }

    .formulario01Style{
        padding: 10px;
        width: 210px;
    }


    .procurarContent{
        width: 850px;
    }


    .formulario02Email{
        width: 435px;
    }

    .formulario01Button{
        width: 435px;
        padding: 7px;
    }


    .bannerTratamentoContent{
        height: 600px;
    }

    .bannerTratamentoContent.child02{
        height: 600px;
    }


    .comparisonCarousel{
        width: 80%;
    }

    .comparisonContent{
        width: 100%;
    }
}

@media screen and (max-width: 1100px){
    .carousel, .carousel03{
        width: 660px;
    }
}

@media screen and (max-width: 980px){

    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburger {
        display: block;
        border-top: 2px solid;
        width: 20px;
    }

    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #hamburger.active{
        border-top-color: transparent;
    }

    #hamburger.active::before{
        transform: rotate(135deg);
    }

    #hamburger.active::after{
        transform: rotate(-135deg);
        top: -7px;
    }

    #menu{
        display: block;
        position: absolute;
        width: 100%;
        height: 0px;
        top: 70px;
        right: 0px;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        background-color: #e7e7e7;
    }

    #menu a {
        padding: 1rem;
    }


    .informationContainer01{
        width: 90%;
    }

    .informationTitle{
        font-size: 35px;
    }

    .procurarContent{
        width: 550px;
    }

    .bannerTratamentoContent.child02{
        padding-left: 20px;
        padding-right: 20px;
    }

   
    .comparisonCarousel{
        width: 90%;
        padding: 0px;
    }

    .unidadesContent{
        padding-left: 20px;
        padding-right: 20px;
    }

    .formulario02Contente02Div01{
        width: 45%;
    }

}

@media screen and (max-width: 768px){

    .information{
        flex-direction: column;
    }














    .informationDecoration{
        width: 100%;
    }

    .informationContainer01{
        width: 450px;
    }

    .informationTitle{
        font-size: 45px;
    }

    .informationContainer02{
        width: 100%;
        background-size: 100%;
    }

    .formulario01{
        bottom: 120px;
    }

    .formulario01Conten{
        flex-direction: column;
        width: 80%;
        padding: 20px;
        padding-bottom: 40px;
    }

    .formularioTitle{
        width: 100%;
        margin-bottom: 20px;
    }

    .formulario01Form{
        width: 100%;
    }

    .formulario01Style{
        width: 49%;
        margin: 0px;
        margin-bottom: 10px;
    }

    .formulario02Email{
        width: 99%;
    }

    .formulario01Button{
        width: 98%;
    }

    .procurar{
        margin-top: -100px;
    }

    .bannerTratamentoContainer{
        display: grid;
        grid-template: auto auto auto / auto;
    }

    .bannerTratamentoContent.child01{
        height: 300px;
    }

    .bannerTratamentoContent.child02{
        height: auto;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 30px;
    }

    .bannerTratamentoContent.child03{
        height: 300px;
    }


    .comparisonText{
        display: none;
    
    }


    .carousel, .carousel03{
        width: 300px;
    }

    .carouselContente{
        width: 260px;
    }

    .carouselContente:hover{
        box-shadow: 0px 0px 10px #666;
    }

    .carouselImg{
        width: 200px;
    }


    .commentsConteiner{
        padding: 20px;
        width: 80%;
    }


    .clinicoContente:hover{
        box-shadow: 0px 0px 10px #666;
    }


    .unidades{
        flex-direction: column;
    }

    .unidadesImg{
        width: 100%;
        height: 500px;
    }

    .unidadesContent{
        width: 100%;
        padding-left: 50px;
    }


    .formulario02{
        background-color: rgb(221, 220, 220);
    }

    .formulario02Img{
        position: static;
        display: flex;
        justify-content: center;
    }

    .formulario02Contente01{
        flex-direction: column;
    }

    .formulario02Contente01Div01{
        width: 100%;
    }

    .formulario02Contente01Div02{
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .formulario02Contente02{
        flex-direction: column;
    }


    .formulario02Contente02Div01{
        display: none;
    }
}

@media screen and (max-width: 600px){
    .procurarContent{
        width: 270px;
    }

    .procurarContentDiv{
        width: 240px;
        height: 240px;
    }

    .procurarContentDiv:hover{
        box-shadow: 0px 0px 10px #666;
    }


    .comparisonContentDiv{
        height: 300px;
    }
    
    .comparisonContent{
        height: 300px;  
    }
}

@media screen and (max-width: 480px){









    .informationDecoration{
        /* height: 450px; */

        height: 280px;
        align-items: center;
    }





    .informationContainer02{
        /* height: 300px; */
        height: 350px;
        
    }






 






    .informationContainer01{
        width: 90%;
        padding-top: 0px;
    }

    .informationTitle{
        /* font-size: 35px; */

        font-size: 22px;
    }

    .informationText{
        font-size: 18px;
    }
    .formulario01{
        bottom: 300px;
    }

    .procurar{
        margin-top: -300px;
    }

    .pageTitle01{
        font-size: 15px;
    }

    .unidadesImg{
        height: 300px;
    }


    .carousel{
        width: 265px;
        padding: 0px;
    }

    .carouselContente{
        width: 250px;
        height: 450px;
        margin: 10px;
        box-sizing: border-box;
        padding-top: 10px;
        box-shadow: 0px 0px 7px #666;
    }

    .carouselImg{
        width: 230px;
    }

    .comparisonCarousel{
        width: 80%;
    }

    .comparisonContentDiv{  
        height: 250px;
    }

    .comparisonContent{
        height: 250px;  
    }



    /* CLINICO */
    .carousel03{
        width: 265px;
        padding: 0px;
    }

    .clinicoImg{
        width: 265px;
    }

    .clinicoContente{
        width: 245px;
        height: auto;
        padding: 10px;
        box-sizing: border-box;
        position: relative;
        bottom: 100px;
        left: 10px;
        box-shadow: 0px 0px 7px #666;
    }

    .unidadesContent{
        padding-left: 20px;
        padding-right: 20px;
    }

    .formulario01Style{
        width: 100%;
    }
    .formulario01Button{
        width: 100%;
    }

    footer{
        padding: 20px;
    }

}